<a href="https://colab.research.google.com/github/digitechit07/Python-Tutorial-with-Excercise/blob/main/Python_Data_Types_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Types of Data Types in Python**
Python supports the following built-in data types −

Numeric Data Types

int

flot

complex

String Data Types

Sequence Data Types

list

tuple

range

Binary Data Types

bytes

bytearray

memoryview

Dictionary Data Type

Set Data Type

set

frozenset

Boolean Data Type

None Type

In [2]:
var1 = 1       # int data type
var2 = True    # bool data type
var3 = 10.023  # float data type
var4 = 10+3j   # complex data type
type(5+6j)

# integer variable.
a=100
print("The type of variable having value", a, " is ", type(a))

# float variable.
c=20.345
print("The type of variable having value", c, " is ", type(c))

# complex variable.
d=10+3j
print("The type of variable having value", d, " is ", type(d))

The type of variable having value 100  is  <class 'int'>
The type of variable having value 20.345  is  <class 'float'>
The type of variable having value (10+3j)  is  <class 'complex'>

**Python supports four different numerical types and each of them have built-in classes in Python library, called int, bool, float and complex respectively **−

int (signed integers)
float (floating point real values)
complex (complex numbers)

In [3]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

# **Python Sequence Data Types**
Sequence is a collection data type. It is an ordered collection of items. Items in the sequence have a positional index starting with 0. It is conceptually similar to an array in C or C++. There are following three sequence data types defined in Python.

List Data Type

Tuple Data Type

Range Data Type

In [4]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 3rd
print (list[2:])        # Prints elements starting from 3rd element
print (tinylist * 2)    # Prints list two times
print (list + tinylist) # Prints concatenated lists

tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples


tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

# **Python Binary Data Types**
A binary data type in Python is a way to represent data as a series of binary digits, which are 0's and 1's. It is like a special language computers understand to store and process information efficiently.

This type of data is commonly used when dealing with things like files, images, or anything that can be represented using just two possible values. So, instead of using regular numbers or letters, binary sequence data types use a combination of 0s and 1s to represent information.

Python provides three different ways to represent binary data. They are as follows −

bytes

bytearray

memoryview

In [5]:
# Using bytes() function to create bytes
b1 = bytes([65, 66, 67, 68, 69])
print(b1)

# Using prefix 'b' to create bytes
b2 = b'Hello'
print(b2)

# Creating a bytearray from an iterable of integers
value = bytearray([72, 101, 108, 108, 111])
print(value)


# Creating a bytearray by encoding a string
val = bytearray("Hello", 'utf-8')
print(val)

data = bytearray(b'Hello, world!')
view = memoryview(data)
print(view)

import array
arr = array.array('i', [1, 2, 3, 4, 5])
view = memoryview(arr)
print(view)

data = b'Hello, world!'
# Creating a view of the last part of the data
view = memoryview(data[7:])
print(view)

b'ABCDE'
b'Hello'
bytearray(b'Hello')
bytearray(b'Hello')
<memory at 0x7edf010bd540>
<memory at 0x7edf010bd780>
<memory at 0x7edf010bd480>

In [6]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values



set1 = {123, 452, 5, 6}
set2 = {'Java', 'Python', 'JavaScript'}

print(set1)
print(set2)

# Returns false as a is not equal to b
a = 2
b = 4
print(bool(a==b))

# Following also prints the same
print(a==b)

# Returns False as a is None
a = None
print(bool(a))

# Returns false as a is an empty sequence
a = ()
print(bool(a))

# Returns false as a is 0
a = 0.0
print(bool(a))

# Returns false as a is 10
a = 10
print(bool(a))

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])
{123, 452, 5, 6}
{'JavaScript', 'Java', 'Python'}
False
False
False
False
False
True

# **Python None Type**
Python's none type is represented by the "nonetype." It is an object of its own data type. The nonetype represents the null type of values or absence of a value.

Example of None Type
In the following example, we are assigning None to a variable x and printing its type, which will be nonetyoe −

In [7]:
# Declaring a variable
# And, assigning a Null value (None)

x = None

# Printing its value and type
print("x = ", x)
print("type of x = ", type(x))


# Getting type of values
print(type(123))
print(type(9.99))

# Getting type of variables
a = 10
b = 2.12
c = "Hello"
d = (10, 20, 30)
e = [10, 20, 30]

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))


# Declaring a variable
# And, assigning an integer value

x = 10

# Printing its value and type
print("x = ", x)
print("type of x = ", type(x))

# Now, assigning string value to
# the same variable
x = "Hello World!"

# Printing its value and type
print("x = ", x)
print("type of x = ", type(x))

x =  None
type of x =  <class 'NoneType'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'list'>
x =  10
type of x =  <class 'int'>
x =  Hello World!
type of x =  <class 'str'>

# **Primitive and Non-primitive Data Types**
The above-explained data types can also be categorized as primitive and non-primitive.

**1. Primitive Types**
The primitive data types are the fundamental data types that are used to create complex data types (sometimes called complex data structures). There are mainly four primitive data types, which are −

Integers
Floats
Booleans, and
Strings

**2. Non-primitive Types**
The non-primitive data types store values or collections of values. There are mainly four types of non-primitive types, which are −

Lists
Tuples
Dictionaries, and
Sets

In [11]:
print("Conversion to integer data type")
a = int(1)     # a will be 1
b = int(2.2)   # b will be 2
c = ("3.3")   # c will be 3

print (a)
print (b)
print (c)

print("Conversion to floating point number")
a = float(1)     # a will be 1.0
b = float(2.2)   # b will be 2.2
c = float("3.3") # c will be 3.3

print (a)
print (b)
print (c)

'''
print("Conversion to string")
a = str(1)     # a will be "1"
b = str(2.2)   # b will be "2.2"
c = str("3.3") # c will be "3.3"
'''
print (a)
print (b)
print (c)

Conversion to integer data type
1
2
3.3
Conversion to floating point number
1.0
2.2
3.3
1.0
2.2
3.3

# **Data Type Conversion Functions**

1	Python int() function
Converts x to an integer. base specifies the base if x is a string.

2	Python long() function
Converts x to a long integer. base specifies the base if x is a string. This function has been deprecated.

3	Python float() function
Converts x to a floating-point number.

4	Python complex() function
Creates a complex number.

5	Python str() function
Converts object x to a string representation.

6	Python repr() function
Converts object x to an expression string.

7	Python eval() function
Evaluates a string and returns an object.

8	Python tuple() function
Converts s to a tuple.

9	Python list() function
Converts s to a list.

10	Python set() function
Converts s to a set.

11	Python dict() function
Creates a dictionary. d must be a sequence of (key,value) tuples.

12	Python frozenset() function
Converts s to a frozen set.

13	Python chr() function
Converts an integer to a character.

14	Python unichr() function
Converts an integer to a Unicode character.

15	Python ord() function
Converts a single character to its integer value.

16	Python hex() function
Converts an integer to a hexadecimal string.

17	Python oct() function
Converts an integer to an octal string.