<a href="https://colab.research.google.com/github/digitechit07/Python-Tutorial-with-Excercise/blob/main/Python_Casting_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python casting **

also known as type casting, refers to the process of converting a value from one data type to another. This is often necessary when performing operations that require specific data types, or when handling user input which is typically received as strings.
Python supports two main types of casting:
Implicit Type Casting (Coercion): This occurs automatically when Python converts a data type to another without explicit instruction from the programmer, usually during operations involving different numeric types. For example, when adding an integer and a float, Python implicitly converts the integer to a float before performing the addition.

In [ ]:
    num_int = 10
    num_float = 5.5
    result = num_int + num_float # num_int is implicitly converted to a float
    print(result)
    print(type(result))

        # int() casting
    print(int(3.14))       # Output: 3
    print(int("123"))      # Output: 123

    # float() casting
    print(float(5))        # Output: 5.0
    print(float("7.89"))   # Output: 7.89

    # str() casting
    print(str(100))        # Output: "100"
    print(str(True))       # Output: "True"

    # list() casting
    my_string = "hello"
    my_list = list(my_string)
    print(my_list)         # Output: ['h', 'e', 'l', 'l', 'o']

# **Python supports two main types of casting:**
Implicit Type Casting (Coercion): This occurs automatically when Python converts a data type to another without explicit instruction from the programmer, usually during operations involving different numeric types. For example, when adding an integer and a float, Python implicitly converts the integer to a float before performing the addition.

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2")

# **Explicit Type Casting (Type Conversion): **
This requires the programmer to explicitly convert a value from one data type to another using built-in constructor functions. These functions include:
int(): Converts a value to an integer. It can take an integer literal, a float literal (truncating decimals), or a string representing a whole number.
float(): Converts a value to a floating-point number. It can take an integer literal, a float literal, or a string representing a number.
str(): Converts a value to a string. It can take various data types, including numbers, booleans, and other objects.
list(), tuple(), set(): Convert iterable objects into their respective sequence or collection types.
bool(): Converts a value to a boolean (True or False).

In [1]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# implicit type Casting

# Python automatically converts
# a to int
a = 7
print(type(a))

# Python automatically converts
# b to float
b = 3.0
print(type(b))

# Python automatically converts
# c to float as it is a float addition
c = a + b
print(c)
print(type(c))

# Python automatically converts
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

# **Importance of Casting:**
Casting is crucial in Python for several reasons:
Data Type Compatibility: Ensuring that variables have the correct data type for specific operations, preventing TypeError exceptions.
User Input Processing: Converting string input from users into numerical types for calculations.
Data Formatting: Presenting data in a desired format, such as converting numbers to strings for display or concatenation.

In [6]:
# int variable
a = 5

# typecast to float
n = float(a)

print(n)
print(type(n))

# int variable
a = 5.9

# typecast to int
n = int(a)

print(n)
print(type(n))

# int variable
a = 5

# typecast to str
n = str(a)

print(n)
print(type(n))

# string variable
a = "5.9"

# typecast to float
n = float(a)

print(n)
print(type(n))

# string variable
a = "5"
b = 't'

# typecast to int
n = int(a)

print(n)
print(type(n))

#print(int(b))
print(type(b))

# integer variable
a = "z"
# string variable
b = 't'

# typecast to int
n = a+b

print(n)
print(type(n))

a = 5
b = '7'

# explicit conversion of string to int
n = a + int(b)
print(n)
print(type(n))

5.0
<class 'float'>
5
<class 'int'>
5
<class 'str'>
5.9
<class 'float'>
5
<class 'int'>
<class 'str'>
zt
<class 'str'>
12
<class 'int'>

# **Mainly type casting can be done with these data type functions:**

Int(): Python Int() function take float or string as an argument and returns int type object.

float(): Python float() function take int or string as an argument and return float type object.

str(): Python str() function takes float or int as an argument and returns string type object.

In [7]:
a = int(1)     # a will be 1
b = int(2.2)   # b will be 2
c = int("3")   # c will be 3

print(a)
print(b)
print(c)



a = float(1)     # a will be 1.0
b = float(2.2)   # b will be 2.2
c = float("3.3") # c will be 3.3

print(a)
print(b)
print(c)

1
2
3
1.0
2.2
3.3

# **Python Type Casting**
From a programming point of view, a type casting refers to converting an object of one type into another. Here, we shall learn about type casting in Python Programming.

Python Type Casting is a process in which we convert a literal of one data type to another data type. Python supports two types of casting âˆ’ implicit and explicit.
In Python there are different data types, such as numbers, sequences, mappings etc. There may be a situation where, you have the available data of one type but you want to use it in another form. For example, the user has input a string but you want to use it as a number. Python's type casting mechanism let you do that.

In [8]:
string = "56"
number = 44

# Converting the string into an integer number.
string_number = int(string)

sum_of_numbers = number + string_number
print("The Sum of both the numbers is: ", sum_of_numbers)


salary = 25000
bonus = salary * (0.25)

# Converting the salary into floating point number.
new_salary = float(salary)
print("Salary converted into floating-point: ", new_salary)
print("Salary after adding bonus: ", new_salary + bonus)


string = "01101"
floating_number = 45.20

# Converting the string as well as integer number into floating point number.
new_str = int(string)
new_number = int(floating_number)
print("String converted into integer: ", new_str)
print("The floating-point number converted into integer: ", new_number)


number = 55
string = str(number)
print("Converted string is:",string)



# Taking a number in the form of string
string_numbers = "11"
# Converting the string into number.
integer_number = int(string_numbers)

print("Integer number is:", integer_number)

The Sum of both the numbers is:  100
Salary converted into floating-point:  25000.0
Salary after adding bonus:  31250.0
String converted into integer:  1101
The floating-point number converted into integer:  45
Converted string is: 55
Integer number is: 11

# **Data Type Conversion Functions**
There are several built-in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.

Sr.No.	Function & Description
1	Python int() function
Converts x to an integer. base specifies the base if x is a string.

2	Python long() function
Converts x to a long integer. base specifies the base if x is a string.

3	Python float() function
Converts x to a floating-point number.

4	Python complex() function
Creates a complex number.

5	Python str() function
Converts object x to a string representation.

6	Python repr() function
Converts object x to an expression string.

7	Python eval() function
Evaluates a string and returns an object.

8	Python tuple() function
Converts s to a tuple.

9	Python list() function
Converts s to a list.

10	Python set() function
Converts s to a set.

11	Python dict() function
Creates a dictionary. d must be a sequence of (key,value) tuples.

12	Python frozenset() function
Converts s to a frozen set.

13	Python chr() function
Converts an integer to a character.

14	Python unichr() function
Converts an integer to a Unicode character.

15	Python ord() function
Converts a single character to its integer value.

16	Python hex() function
Converts an integer to a hexadecimal string.

17	Python oct() function
Converts an integer to an octal string.